---
interface Props {
	cms: {
		name: string;
		picture_src: string;
		small: boolean;
	};
}
const { cms } = Astro.props;
---

<p>{cms.name}</p>
<img src={cms.picture_src} width={cms.small ? 64 : 256} />
