---
// @ts-expect-error - this is a bug in astro
import LavaCmsComponent from "@lavacms/astro/LavaCmsComponent.astro";

interface Props {
	cms: {
		content: string;
		author: object | null;
	};
}
const { cms } = Astro.props;
---

<div>
	<cite>{cms.content}</cite>
	{cms.author && <LavaCmsComponent component={cms.author} />}
</div>
