---
import { cms } from "../utils/cms";

interface Props {
	name?: string;
}

const config = await cms.getConfig.query();
const { name } = Astro.props;
---

<!DOCTYPE html>
<html lang={config.language}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		{config.description !== "" && <meta name="description" content={config.description} />}
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{name ?? "404"} - {config.title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #f6f6f6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
