---
import { useLavaCms } from "@lavacms/astro";
import LavaCmsComponents from "@lavacms/astro/LavaCmsComponents.astro";
import Layout from "@/layouts/Layout.astro";

const cms = useLavaCms();
const page = await cms.getPage(Astro.url.pathname);
---

<Layout>
	<h1>{page.name} {page.url}</h1>

	<strong id="cms-admin-link">
		<a href="/admin">CMS admin</a>
	</strong>

	<LavaCmsComponents components={page.components} />
</Layout>

<style>
	#cms-admin-link {
		font-size: 2rem;
	}
</style>
