---
import { useLavaCms } from "@lavacms/astro";
// @ts-expect-error - this is a bug in astro
import LavaCmsComponents from "@lavacms/astro/LavaCmsComponents.astro";
import Layout from "@/layouts/Layout.astro";

const cms = useLavaCms();
const page = await cms.getPage(Astro.url.pathname);
---

<Layout>
	<h1>{page.name} {page.url}</h1>

	<a href="/products">products</a>
	<LavaCmsComponents components={page.components} />
</Layout>
