store-dir=/home/pwuser/.pnpm-store
auto-install-peers=false

# Astro's node adapter doesn't work if vite isn't hoisted
hoist-pattern[]=*vite*
hoist-pattern[]=*msw*
hoist-pattern[]=*strict-event-emitter*
